.AddItemForm {
  margin-top:20px;
  border-radius: 10px;
  border: 2px #3C3D3F solid;
  padding:20px 10px 10px 10px;
  display:flex;
  flex-direction: column;
}

.AddItemForm__element {
  margin-bottom:10px;
  font-size: 20px;
  border-radius:10px;
  padding:5px 10px 5px 10px;
}